*{
    margin: 0;
}
html{
    font-family: sans-serif;
    font-size: 18px;
    --yellow_color: #f3db00;
}
h2,h3{
    text-align: center;
}
h2{
    font-weight: 400;
    font-size: 2.3rem;
    margin: 30px;
}
ul{
    list-style: none;
    padding: 0;
}
section > ul{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section > ul > li{
    border: 7px solid var(--yellow_color);
    border-radius: 10px;
    text-align: center;
    width: 27%;
    min-width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
section > ul > li:nth-child(2) > h3::before{
    content: 'BESTSELLER';
    position: absolute;
    font-size: 1rem;
    top: -38px;
    color: red;
    margin-left: -8px;
    padding: 10px 40px 0 40px;
    background: url(../img/bg.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
section > ul > li > h3{
    background-color: var(--yellow_color);
    padding: 20px 0;
    font-size: 1.7rem;
    border-bottom: 7px solid var(--yellow_color);
}
section > ul > li > ul{
    margin: 20px 0 50px 0;
}
section > ul > li > ul > li{
    display: flex;
    margin: 10px 0;
}
i{
    margin: 0px 15px;
    vertical-align: middle;
}
mark{
    font-size: 2.5rem;
    background-color: inherit;
    margin-top: auto;
}
section > ul > li > p{
    border-top: 7px solid var(--yellow_color);
    margin-top: 10px;
    background-color: var(--yellow_color);
    padding: 10px 0;
}
@media all and (max-width: 860px){
    section > ul{
        justify-content: center;
    }
}